body {
    margin: 0px;
    padding: 0px;
}
.encabezado{
    display: flex;
    background-color: #663300;
    justify-content: space-between;
    margin: 0px;
    align-items: center;
}


#lista-navegacion {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 40vw;
}

.nav-item{
    padding: 1px;
    font-size: 15px;
    font-family: 'Tajawal', sans-serif;
    color: #fef3e6;
}

#contacto{
    color: #fcce9c;

}

#logo {
    width: 50px;
    height: 50px;
    background-color:#fcce9c;
    border-radius: 50px;
}

#presentacion{
    display: block;
    font-family: 'Tajawal', sans-serif;
    font-size: 30px;
    padding: 0px;
    margin: 40px;
    text-align: center;
    color: #663300;

}

#presentacion h1, p {
    margin-top: 5px;
    margin-bottom: 5px;
}

#contenedor-skills {
    display: flex;
    justify-content: space-between;

}

.articulo-skill {
    background-color: #fef3e6;
    width: 300px;
    height: 350px;
    margin: 15px;
    display: block;
    align-items: center;
    text-align: center;
}

.articulo-skill img{
    width: 150px;
    height: 200px;
}

.articulo-skill h2, p{
    color: #663300;
    font-family: 'Tajawal', sans-serif;

}

.articulo-skill h2{
    font-size: 24px;
    margin-bottom: 0px;
}

.articulo-skill p{
    font-size: 18px;
}